/Praktikum1/File-Creator/nbproject/*
/Praktikum1/File-Creator/Makefile*
/Praktikum1/File-Creator/StringDateiErstellung/build/*
/Praktikum1/File-Creator/StringDateiErstellung/dist/*
/Praktikum1/File-Creator/StringDateiErstellung/nbproject/*
/Praktikum1/File-Creator/StringDateiErstellung/.dep.inc*
/Praktikum1/File-Creator/StringDateiErstellung/Makefile*
/Praktikum1/File-Creator/StringDateiErstellung/stringdateierstellung.exe.stackdump*